body{
    margin: 0px;
    padding: 0px;
}

h3{
    text-align: center;
    color:#282A35;
    font-family: sans-serif;
}

/* css for navbar */
#navbar{
    border:1px solid ;
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
    background-color: #282A35;

}

#navbar >a{
    text-decoration: none;
    color:white;
    font-family: sans-serif;
    font-weight: 200;
}


/* forms and inputs */
#signup{
    display: flex;
    flex-direction: column;
    width:40%;
    border:1px solid #282A35;
    margin: auto;
    margin-top: 5%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    
}

#signup input{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    align-self: center;
}

#btn{
    display: block;
    width: 60%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
}